body {
  height: 100%;
  background: url('../images/background.jpg') rgb(255, 255, 255);
  background-size: cover;
  background-position: right bottom;
  background-attachment: fixed;
  font: 300 2em/1.38 'Roboto Condensed';
  color: rgb(255, 255, 255);
}

.amanda,
.brenda,
.cat,
.danielle,
.joanna {
  display: block;
  position: relative;
  float: left;
  clear: both;
}

.contact_us {
  display: block;
  float: left;
  margin-left: 2.87598%;
  padding-bottom: 14px;
  font-size: 0.5em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.contact_us:hover,
.gallery:hover,
.home:hover,
.links:hover,
.news:hover,
.practice_information:hover,
.prices_schemes:hover,
.treatment:hover {
  border-bottom: 4px solid rgb(120, 251, 197);
}

.copyright {
  float: left;
  width: 21.3987473903%;
  min-height: 31px;
  margin-left: 34.44187%;
  font-size: 0.438em;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

.dentists {
  margin: 0 auto;
  padding-bottom: 10px;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

.design {
  display: block;
  float: left;
  width: 9.1858037578%;
  min-height: 31px;
  margin-left: 0.48767%;
  font-size: 0.438em;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

.design:hover {
  font-weight: 400;
  color: rgb(120, 251, 197);
}

.footer {
  position: relative;
  z-index: 2;
  width: 958px;
  height: 21px;
  margin: 100px auto 0;
}

.home {
  display: block;
  float: left;
  margin-left: 4.34408%;
  padding-bottom: 14px;
  font-size: 0.5em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.helen,
.katy,
.michelle {
  display: block;
  position: relative;
  float: left;
}

.gallery,
.links {
  display: block;
  float: left;
  margin-left: 2.93132%;
  padding-bottom: 14px;
  font-size: 0.5em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.logo {
  display: block;
  float: left;
  width: 134px;
  height: auto;
  margin-left: 9.375%;
  overflow: hidden;
}

.navbg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  width: 100%;
  height: 59px;
  margin: 0 auto;
  background-color: rgb(1, 46, 53);
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 60;
  width: 960px;
  height: 60px;
  margin: 0 auto;
  padding-top: 20px;
}

.news {
  display: block;
  float: left;
  margin-left: 2.91667%;
  padding-bottom: 14px;
  font-size: 0.5em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.hygienists,
.management,
.nursing {
  float: left;
  clear: both;
  width: 100%;
  margin-top: 46px;
  padding-top: 20px;
  padding-bottom: 10px;
  border-top: 4px solid rgb(120, 251, 197);
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

.practice_information {
  display: block;
  float: left;
  margin-left: 2.90365%;
  padding-bottom: 14px;
  font-size: 0.5em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.prices_schemes {
  display: block;
  float: left;
  margin-left: 2.86296%;
  padding-bottom: 14px;
  font-size: 0.5em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.staff {
  position: relative;
  z-index: 45;
  width: 960px;
  height: 1835px;
  margin: 75px auto 0;
  padding-top: 60px;
  background-color: rgba(0, 0, 0, 0.4);
}

.stephanie {
  display: block;
  position: relative;
  float: left;
  clear: both;
}

.team {
  display: block;
  float: left;
  margin-left: 2.94434%;
  padding-bottom: 14px;
  border-bottom: 4px solid rgb(120, 251, 197);
  font-size: 0.5em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.team:hover {
  border-bottom: 4 solid rgb(120, 251, 197);
}

.title {
  position: relative;
  z-index: 49;
  width: 958px;
  height: 132px;
  margin: 125px auto 0;
}

.treatment {
  display: block;
  float: left;
  margin-left: 2.89714%;
  padding-bottom: 14px;
  font-size: 0.5em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.carlie,
.david,
.hannah,
.jaime,
.kelly,
.laura,
.lorraine,
.rachel,
.samantha,
.vicky {
  display: block;
  position: relative;
  float: left;
}

._text {
  position: relative;
  float: left;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.amanda-1 {
  z-index: 11;
  width: 15%;
  height: 144px;
  margin: 51px 0 0 326px;
  background-image: url('../images/amanda.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.amanda-2 {
  z-index: 31;
  margin: 10px 0 0 371px;
  font-size: 0.5em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.brenda-1 {
  z-index: 4;
  width: 15%;
  height: 144px;
  margin: 45px 0 0 326px;
  background-image: url('../images/brenda.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.brenda-2 {
  z-index: 23;
  margin: 10px 0 0 373px;
  font-size: 0.5em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.carlie-1 {
  z-index: 18;
  width: 15%;
  height: 144px;
  margin: 30px 0 0 20px;
  background-image: url('../images/carly.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.carlie-2 {
  z-index: 40;
  margin: 10px 0 0 121px;
  font-size: 0.5em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.cat-1 {
  z-index: 14;
  width: 15%;
  height: 144px;
  margin: 51px 0 0 244px;
  background-image: url('../images/cat.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.cat-2 {
  z-index: 35;
  margin: 10px 0 0 305px;
  font-size: 0.5em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.danielle-1 {
  z-index: 9;
  width: 15%;
  height: 144px;
  margin: 34px 0 0 82px;
  background-image: url('../images/danielle.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.danielle-2 {
  z-index: 28;
  margin: 10px 0 0 124px;
  font-size: 0.5em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.david-1 {
  z-index: 19;
  width: 15%;
  height: 144px;
  margin: 30px 0 0 18px;
  background-image: url('../images/david.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.david-2 {
  z-index: 41;
  margin: 10px 0 0 116px;
  font-size: 0.5em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.hannah-1 {
  z-index: 7;
  width: 15%;
  height: 144px;
  margin: 34px 0 0 19px;
  background-image: url('../images/hannah.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.hannah-2 {
  z-index: 26;
  margin: 10px 0 0 114px;
  font-size: 0.5em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.helen-1 {
  z-index: 15;
  width: 15%;
  height: 144px;
  margin: 46px 0 0 19px;
  background-image: url('../images/blank.png');
  background-size: contain;
  background-position: center center;
}

.helen-2 {
  z-index: 37;
  margin: 11px 0 0 104px;
  font-size: 0.5em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.jaime-1 {
  z-index: 17;
  width: 15%;
  height: 144px;
  margin: 30px 0 0 18px;
  background-image: url('../images/jaime.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.jaime-2 {
  z-index: 39;
  margin: 10px 0 0 120px;
  font-size: 0.5em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.joanna-1 {
  z-index: 21;
  width: 15%;
  height: 144px;
  margin: 30px 0 0 82px;
  background-image: url('../images/joanna.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.joanna-2 {
  z-index: 43;
  margin: 10px 0 0 128px;
  font-size: 0.5em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.katy-1 {
  z-index: 3;
  width: 15%;
  height: 144px;
  margin: 45px 0 0 20px;
  background-image: url('../images/katy.png');
  background-size: contain;
  background-position: center center;
}

.katy-2 {
  z-index: 22;
  margin: 10px 0 0 118px;
  font-size: 0.5em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.kelly-1 {
  z-index: 12;
  width: 15%;
  height: 144px;
  margin: 51px 0 0 20px;
  background-image: url('../images/kelly.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.kelly-2 {
  z-index: 33;
  margin: 10px 0 0 111px;
  font-size: 0.5em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.laura-1 {
  z-index: 8;
  width: 15%;
  height: 144px;
  margin: 34px 0 0 19px;
  background-image: url('../images/laura.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.laura-2 {
  z-index: 27;
  margin: 10px 0 0 109px;
  font-size: 0.5em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.lorraine-1 {
  z-index: 10;
  width: 15%;
  height: 144px;
  margin: 51px 0 0 20px;
  background-image: url('../images/lorraine(2).png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.lorraine-2 {
  z-index: 30;
  margin: 10px 0 0 102px;
  font-size: 0.5em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.michelle-1 {
  z-index: 13;
  width: 15%;
  height: 144px;
  margin: 51px 0 0 21px;
  background-image: url('../images/blank.png');
  background-size: contain;
  background-position: center center;
}

.michelle-2 {
  z-index: 34;
  margin: 10px 0 0 118px;
  font-size: 0.5em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.rachel-1 {
  z-index: 20;
  width: 15%;
  height: 144px;
  margin: 30px 0 0 20px;
  background-image: url('../images/rachel.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.rachel-2 {
  z-index: 42;
  margin: 10px 0 0 111px;
  font-size: 0.5em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.samantha-1 {
  z-index: 6;
  width: 15%;
  height: 144px;
  margin: 34px 0 0 19px;
  background-image: url('../images/samantha.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.samantha-2 {
  z-index: 25;
  margin: 10px 0 0 97px;
  font-size: 0.5em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.stephanie-1 {
  z-index: 16;
  width: 15%;
  height: 144px;
  margin: 46px 0 0 327px;
  background-image: url('../images/blank.png');
  background-size: contain;
  background-position: center center;
}

.stephanie-2 {
  z-index: 38;
  margin: 11px 0 0 362px;
  font-size: 0.5em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.vicky-1 {
  z-index: 5;
  width: 15%;
  height: 144px;
  margin: 34px 0 0 20px;
  background-image: url('../images/vicky.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.vicky-2 {
  z-index: 24;
  margin: 11px 0 0 104px;
  font-size: 0.5em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.title ._text-1 {
  z-index: 47;
  margin: 13px 0 0 26.1694299999%;
  font-size: 2.188em;
}

.title ._text-2 {
  clear: both;
  z-index: 46;
  margin: -43px 0 0 75.6785%;
  font-size: 0.563em;
}
